integration/src/main/resources/META-INF/wsdl/internal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InternalWsEndpointService" targetNamespace="http://ws.integration.i_novus.ru/internal"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://ws.integration.i_novus.ru/internal"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://ws.integration.i_novus.ru/internal" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified" targetNamespace="http://ws.integration.i_novus.ru/internal">
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="IntegrationMessage" type="tns:IntegrationMessage"/>
            <xs:element name="request" type="tns:request"/>
            <xs:element name="requestResponse" type="tns:requestResponse"/>
            <xs:complexType name="request">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IntegrationMessage" type="tns:IntegrationMessage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntegrationMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MessageData" type="tns:MessageInfo"/>
                    <xs:element minOccurs="0" name="Message" type="tns:MessageData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Sender" type="xs:string"/>
                    <xs:element minOccurs="0" name="Recipient" type="xs:string"/>
                    <xs:element name="Date" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="MessageId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupUid" type="xs:string"/>
                    <xs:element minOccurs="0" name="Uuid" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="AppData" type="tns:DocumentData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DocumentData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DocName" type="xs:string"/>
                    <xs:element minOccurs="0" name="DocFormat" type="xs:string"/>
                    <xs:element minOccurs="0" name="DigestData" type="xs:string"/>
                    <xs:element minOccurs="0" name="BinaryData" type="xs:base64Binary"
                                xmime:expectedContentTypes="application/octet-stream"/>
                    <xs:element minOccurs="0" name="DocType" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IOException" type="tns:IOException"/>
            <xs:complexType name="IOException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="request">
        <wsdl:part name="parameters" element="tns:request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="requestResponse">
        <wsdl:part name="parameters" element="tns:requestResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IOException">
        <wsdl:part name="IOException" element="tns:IOException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InternalWsEndpoint">
        <wsdl:operation name="request">
            <wsdl:input name="request" message="tns:request">
            </wsdl:input>
            <wsdl:output name="requestResponse" message="tns:requestResponse">
            </wsdl:output>
            <wsdl:fault name="IOException" message="tns:IOException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InternalWsEndpointServiceSoapBinding" type="tns:InternalWsEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="request">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="request">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InternalWsEndpointService">
        <wsdl:port name="InternalWsEndpointPort" binding="tns:InternalWsEndpointServiceSoapBinding">
            <soap:address location="http://localhost:9090/InternalWsEndpointPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
